@model PKBL.Domain.Entities.Master.M_Mitra
@{
    ViewData["Title"] = "Edit Master Mitra";
}
<div class='row'>
    <div class='col-md-12 col-sm-12  '>
        <div class='x_panel'>
            <div class='x_title no-padding'>
                <h2>@ViewData["Title"]</h2>
                <div class='nav navbar-right panel_toolbox'>
                    <a asp-action='Index' class='btn btn-sm btn-link'>Back to List</a>
                </div>
                <div class='clearfix'></div>
            </div>
            <div class='x_content'>
                <br />
                <form asp-action='Edit' class='form-label-left'>
                    <div asp-validation-summary='ModelOnly' class='text-danger'></div>
                    <input type='hidden' asp-for='Id' />
                    <input type='hidden' asp-for='CreatedBy' />
                    <input type='hidden' asp-for='CreatedDate' />
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <label asp-for='RequestorAddress' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='RequestorAddress' class='form-control' />
                                    <span asp-validation-for='RequestorAddress' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='AddressDistrict' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='AddressDistrict' class='form-control' />
                                    <span asp-validation-for='AddressDistrict' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='HomeOwnershipId' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='HomeOwnershipId' class='form-control' />
                                    <span asp-validation-for='HomeOwnershipId' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='RequestorPhone1' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='RequestorPhone1' class='form-control' />
                                    <span asp-validation-for='RequestorPhone1' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='RequestorPhone2' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='RequestorPhone2' class='form-control' />
                                    <span asp-validation-for='RequestorPhone2' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='RequestorMail' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='RequestorMail' class='form-control' />
                                    <span asp-validation-for='RequestorMail' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='MaritalStatusId' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='MaritalStatusId' class='form-control' />
                                    <span asp-validation-for='MaritalStatusId' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='EducationLevelId' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='EducationLevelId' class='form-control' />
                                    <span asp-validation-for='EducationLevelId' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='CompanyDataId' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='CompanyDataId' class='form-control' />
                                    <span asp-validation-for='CompanyDataId' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Family_Relative_ID' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Family_Relative_ID' class='form-control' />
                                    <span asp-validation-for='Family_Relative_ID' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Other_Relative_ID' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Other_Relative_ID' class='form-control' />
                                    <span asp-validation-for='Other_Relative_ID' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Car_Mortage_ID' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Car_Mortage_ID' class='form-control' />
                                    <span asp-validation-for='Car_Mortage_ID' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Motorcycle_Mortage_ID' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Motorcycle_Mortage_ID' class='form-control' />
                                    <span asp-validation-for='Motorcycle_Mortage_ID' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Other_Mortage_ID' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Other_Mortage_ID' class='form-control' />
                                    <span asp-validation-for='Other_Mortage_ID' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='MortageRemarks' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='MortageRemarks' class='form-control' />
                                    <span asp-validation-for='MortageRemarks' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Administrative_Id' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Administrative_Id' class='form-control' />
                                    <span asp-validation-for='Administrative_Id' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Production_Activity_Id1' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Production_Activity_Id1' class='form-control' />
                                    <span asp-validation-for='Production_Activity_Id1' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Production_Activity_Id2' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Production_Activity_Id2' class='form-control' />
                                    <span asp-validation-for='Production_Activity_Id2' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Production_Activity_Id3' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Production_Activity_Id3' class='form-control' />
                                    <span asp-validation-for='Production_Activity_Id3' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Production_Activity_Id4' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Production_Activity_Id4' class='form-control' />
                                    <span asp-validation-for='Production_Activity_Id4' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='IsProductHandMade' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='IsProductHandMade'/>
                                    <span asp-validation-for='IsProductHandMade' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='IsMachineMade' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='IsMachineMade'/>
                                    <span asp-validation-for='IsMachineMade' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Owned_Tool1' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Owned_Tool1' class='form-control' />
                                    <span asp-validation-for='Owned_Tool1' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Owned_Tool1_count' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Owned_Tool1_count' class='form-control' />
                                    <span asp-validation-for='Owned_Tool1_count' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Owned_Tool2' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Owned_Tool2' class='form-control' />
                                    <span asp-validation-for='Owned_Tool2' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Owned_Tool2_count' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Owned_Tool2_count' class='form-control' />
                                    <span asp-validation-for='Owned_Tool2_count' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Owned_Tool3' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Owned_Tool3' class='form-control' />
                                    <span asp-validation-for='Owned_Tool3' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Owned_Tool3_count' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Owned_Tool3_count' class='form-control' />
                                    <span asp-validation-for='Owned_Tool3_count' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Owned_Tool4' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Owned_Tool4' class='form-control' />
                                    <span asp-validation-for='Owned_Tool4' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Owned_Tool4_count' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Owned_Tool4_count' class='form-control' />
                                    <span asp-validation-for='Owned_Tool4_count' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Service_Provided' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Service_Provided' class='form-control' />
                                    <span asp-validation-for='Service_Provided' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Marketing' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Marketing' class='form-control' />
                                    <span asp-validation-for='Marketing' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='IsLocalMarket' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='IsLocalMarket'/>
                                    <span asp-validation-for='IsLocalMarket' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='IsExport' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='IsExport'/>
                                    <span asp-validation-for='IsExport' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Checklist_Id' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Checklist_Id' class='form-control' />
                                    <span asp-validation-for='Checklist_Id' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='UploadedFile' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='UploadedFile' class='form-control' />
                                    <span asp-validation-for='UploadedFile' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='InventoryUpdateId' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='InventoryUpdateId' class='form-control' />
                                    <span asp-validation-for='InventoryUpdateId' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='MGRNoProposal' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='MGRNoProposal' class='form-control' />
                                    <span asp-validation-for='MGRNoProposal' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='TglBermasalah' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='TglBermasalah' class='form-control' />
                                    <span asp-validation-for='TglBermasalah' class='text-danger'></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='ln_solid'></div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <div class='offset-md-3 col-md-9 col-sm-9'>
                                    <input type='submit' value='Save' class='btn btn-success' />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>