@model PKBL.Domain.Entities.Master.M_CabProp

@{
    ViewData["Title"] = "Edit Master Cab Prop";
}
<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="form-group">
                <label asp-for="Cabang" class="control-label"></label>
                <input asp-for="Cabang" class="form-control" />
                <span asp-validation-for="Cabang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propinsi" class="control-label"></label>
                <input asp-for="Propinsi" class="form-control" />
                <span asp-validation-for="Propinsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>