@model PKBL.Domain.Entities.Master.M_RefDataUsahaMitra

@{
    ViewData["Title"] = "Create Ref Data Usaha Mitra";
}
<div class='row'>
    <div class='col-md-12 col-sm-12  '>
        <div class='x_panel'>
            <div class='x_title no-padding'>
                <h2>@ViewData["Title"]</h2>
                <div class='nav navbar-right panel_toolbox'>
                    <a asp-action='Index' class='btn btn-sm btn-link'>Back to List</a>
                </div>
                <div class='clearfix'></div>
            </div>
            <div class='x_content'>
                <br />
                <form asp-action='Create' class='form-label-left'>
                    <div asp-validation-summary='ModelOnly' class='text-danger'></div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <label asp-for='CompSectorDetail' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='CompSectorDetail' class='form-control' />
                                    <span asp-validation-for='CompSectorDetail' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='CompName' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='CompName' class='form-control' />
                                    <span asp-validation-for='CompName' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='CompCEO' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='CompCEO' class='form-control' />
                                    <span asp-validation-for='CompCEO' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Address' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Address' class='form-control' />
                                    <span asp-validation-for='Address' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='CityId' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='CityId' class='form-control' />
                                    <span asp-validation-for='CityId' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='PostalCode' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='PostalCode' class='form-control' />
                                    <span asp-validation-for='PostalCode' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Phone1' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Phone1' class='form-control' />
                                    <span asp-validation-for='Phone1' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Phone2' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Phone2' class='form-control' />
                                    <span asp-validation-for='Phone2' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Fax' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Fax' class='form-control' />
                                    <span asp-validation-for='Fax' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Email' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Email' class='form-control' />
                                    <span asp-validation-for='Email' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='OwnWorkPlace' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='OwnWorkPlace' />
                                    <span asp-validation-for='OwnWorkPlace' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='WorkPlace_Enddate' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='WorkPlace_Enddate' class='form-control' />
                                    <span asp-validation-for='WorkPlace_Enddate' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='ActiveSince' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='ActiveSince' class='form-control' />
                                    <span asp-validation-for='ActiveSince' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Workforce' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Workforce' class='form-control' />
                                    <span asp-validation-for='Workforce' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='WorkingCapital' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='WorkingCapital' class='form-control' />
                                    <span asp-validation-for='WorkingCapital' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Investment' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Investment' class='form-control' />
                                    <span asp-validation-for='Investment' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='MonthlyRevenue' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='MonthlyRevenue' class='form-control' />
                                    <span asp-validation-for='MonthlyRevenue' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='CompanyUnit' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='CompanyUnit' class='form-control' />
                                    <span asp-validation-for='CompanyUnit' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='HasJournalAdmin' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='HasJournalAdmin'/>
                                    <span asp-validation-for='HasJournalAdmin' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='JournalAdministration' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='JournalAdministration' class='form-control' />
                                    <span asp-validation-for='JournalAdministration' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='HasOtherLoan' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='HasOtherLoan'/>
                                    <span asp-validation-for='HasOtherLoan' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='OtherLoanAt' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='OtherLoanAt' class='form-control' />
                                    <span asp-validation-for='OtherLoanAt' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='OtherLoanAmt' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='OtherLoanAmt' class='form-control' />
                                    <span asp-validation-for='OtherLoanAmt' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='MitraId' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='MitraId' class='form-control' />
                                    <span asp-validation-for='MitraId' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='MGRProposalNo' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='MGRProposalNo' class='form-control' />
                                    <span asp-validation-for='MGRProposalNo' class='text-danger'></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='ln_solid'></div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <div class='offset-md-3 col-md-9 col-sm-9'>
                                    <input type='submit' value='Create' class='btn btn-success' />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
