@model PKBL.Domain.Entities.Master.M_Dropdown

@{
    ViewData["Title"] = "Create Master Dropdown";
}
<div class='row'>
    <div class='col-md-12 col-sm-12  '>
        <div class='x_panel'>
            <div class='x_title no-padding'>
                <h2>@ViewData["Title"]</h2>
                <div class='nav navbar-right panel_toolbox'>
                    <a asp-action='Index' class='btn btn-sm btn-link'>Back to List</a>
                </div>
                <div class='clearfix'></div>
            </div>
            <div class='x_content'>
                <br />
                <form asp-action='Create' class='form-label-left'>
                    <div asp-validation-summary='ModelOnly' class='text-danger'></div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <label asp-for='Item' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Item' class='form-control' />
                                    <span asp-validation-for='Item' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Value' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Value' class='form-control' />
                                    <span asp-validation-for='Value' class='text-danger'></span>
                                </div>
                            </div>
                            <div class='form-group row'>
                                <label asp-for='Name' class='col-form-label col-md-3 col-sm-3'></label>
                                <div class='col-md-9 col-sm-9'>
                                    <input asp-for='Name' class='form-control' />
                                    <span asp-validation-for='Name' class='text-danger'></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='ln_solid'></div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <div class='offset-md-3 col-md-9 col-sm-9'>
                                    <input type='submit' value='Create' class='btn btn-success' />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
